*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-step{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.step{
    display: flex;
}

.number-step{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid gainsboro;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
}
.stick-step{
    height: 4px;
    width: 50px;
    border: 2.3px solid gainsboro ;
    line-height: 30px;
}
.step>div{
    display: flex;
    align-items: center;
}
.prev-next{
    display: flex;
    gap: 20px;

}
button{
    padding: 4px 20px;
    border-radius: 3px;
    background-color: gainsboro;
    border: 1px solid transparent;
    color: white;
}
#step-1{
    border: 3px solid rgb(58, 179, 255);
}

.Next{
    background-color:gainsboro;
}
.Prev:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.Next:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bright{
    border: 2.5px solid rgb(58, 179, 255);
}
.bright2{
    background-color: rgb(58, 179, 255);
}
